package <PACKAGE>;

import com.github.tomakehurst.wiremock.junit5.WireMockExtension;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.RegisterExtension;

import static com.github.tomakehurst.wiremock.client.WireMock.*;
import static com.github.tomakehurst.wiremock.core.WireMockConfiguration.wireMockConfig;
import static org.assertj.core.api.Assertions.assertThat;

class <NAME>Test {

    @RegisterExtension
    static WireMockExtension wireMock = WireMockExtension.newInstance()
        .options(wireMockConfig().dynamicPort())
        .build();

    @Test
    void should<Action>_when<Condition>() {
        wireMock.stubFor(get(urlEqualTo("<PATH>"))
            .willReturn(aResponse()
                .withStatus(200)
                .withHeader("Content-Type", "application/json")
                .withBody("""
                    {"key": "value"}
                """)));

        <NAME>Client client = new <NAME>Client(wireMock.baseUrl());
        <Result> result = client.<method>();

        assertThat(result).isNotNull();
        wireMock.verify(getRequestedFor(urlEqualTo("<PATH>")));
    }
}
